.center.jumbotron.jumbo-c
  %h1 Welcome to PetsOmatic
  %h2
    This is a non-profit, volunteer-run animal shelter for
    adopting cute animals who need a home. Adopt one today!

  = link_to "Sign up now!", '#', :class => "btn btn-large btn-primary"
%section
  .row
    .col-md-6= image_tag("Tux.gif", alt: "Tux", width: "50%")
    .col-md-6= image_tag("TMNT.gif", alt: "Teenage Mutant Ninja Turtles", width: "45%")
%section
  .row
    .col-md-9= image_tag("tony-tiger.jpg", alt: "Tony the Tiger", width: "36%")
