%footer.footer
  .rails-pic= link_to image_tag("rails.png", alt: "Rails", width: "20px"), 'http://rubyonrails.org/'
  %small PetsOmatic by Jason Hoang
  %nav
    %ul
      %li= link_to "Contact", 'contact_path'
      %li= link_to "Help", 'help_path'
