-# %header.navbar.navbar-default.navbar-static-top.navbar-inverse
%header.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container
    = link_to "PetsOmatic", '#', id: "logo"
    .navbar-header.pull-right
      %nav
        %ul.nav.navbar-nav
          %li= link_to "Sign in", '#'
